p {
    font-family:    monospace;
    font-size:      150%;
    margin:         auto;
}

li {
    font-family:    monospace;
    font-size:      150%;
    margin:         auto;
}

h4 {
    font-family:    monospace;
    font-size:      200%;
    text-align:     center;
    margin-top:     30px;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.row:nth-child(1) {
    justify-content: space-between;
}

.row:nth-child(2) {
    justify-content: center;
}

.main {
    max-width:      700px;
    border:         2px solid black;
    padding:        7px;
    margin-left:    auto;
    margin-right:   auto;
    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);
}

.resume {
    max-width:      700px;
    border:         2px solid black;
    padding:        7px;
    margin-left:    auto;
    margin-right:   auto;
    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);
}

.menu {
    border:         2px solid black;
    background-color: #60c8e0;
    max-width:          130px;
}

.menulink {
    display:        block;
    font-family:    monospace;
    font-size:      150%;
    padding-left:   5px;
    padding-right:  5px;
    color:          black;
}

.menulink:hover {
    background-color: white;
}


